In [30]:
import pandas as pd
import os
import os.path as osp

scannet_path = '/media/navigation/easystore/Original_dataset/scannet/data'

scannet_mappings = pd.read_csv(osp.join(scannet_path, 'scannetv2-labels.combined.tsv'), sep='\t')
with open(osp.join(scannet_path, 'nyu_label.csv'), 'r') as f:
    nyu_classes = [line.strip('\n').strip(',') for line in f.readlines()]
nyu_class_to_id = {nyu_class: i+1 for i, nyu_class in enumerate(nyu_classes)}

In [53]:
nyuid_to_scannet_id = {}
scannet_mappings.nyuClass = scannet_mappings.nyuClass.fillna('unknown')
for id, nyuclass in enumerate(nyu_classes):
    scannet_rows = scannet_mappings[scannet_mappings.nyuClass == nyuclass]
    scannet_ids = scannet_rows.index
    if len(scannet_ids) > 0:
        nyuid_to_scannet_id[id+1] = {
            'scannet_id': int(scannet_ids[0]), 
            'scannet_class': scannet_rows.raw_category.iloc[0],
            'nyu_class': nyuclass
            }
    else:
        nyuid_to_scannet_id[id+1] = {
            'scannet_id': int(5), 
            'scannet_class': 'object',
            'nyu_class': nyuclass
            }

In [54]:
import json
with open('nyu_id_to_scannet_id.json', 'w') as f:
    json.dump(nyuid_to_scannet_id, f)

In [23]:
scannet_mappings

,id,raw_category,category,count,nyu40id,eigen13id,nyuClass,nyu40class,eigen13class,ModelNet40,ModelNet10,ShapeNetCore55,synsetoffset,wnsynsetid,wnsynsetkey,mpcat40,mpcat40index
0,1,wall,wall,8277,1,12,wall,wall,Wall,NaN,NaN,NaN,NaN,n04546855,wall.n.01,wall,1.0
1,2,chair,chair,4646,5,4,chair,chair,Chair,chair,chair,chair,3001627.0,n03001627,chair.n.01,chair,3.0
2,22,books,book,1678,23,2,book,books,Books,NaN,NaN,NaN,NaN,n02870526,book.n.11,objects,39.0
3,3,floor,floor,1553,2,5,floor,floor,Floor,NaN,NaN,NaN,NaN,n03365592,floor.n.01,floor,2.0
4,5,door,door,1483,8,12,door,door,Wall,door,NaN,NaN,NaN,n03221720,door.n.01,door,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,1355,air hockey table,air hockey table,1,7,10,table,table,Table,table,table,table,4379243.0,n04379243,table.n.02,table,5.0
603,1301,socks,sock,1,21,7,clothes,clothes,Objects,NaN,NaN,NaN,NaN,n04254777,sock.n.01,clothes,38.0
604,1356,food bag,food bag,1,37,7,bag,bag,Objects,NaN,NaN,NaN,NaN,NaN,NaN,objects,39.0
605,1199,clothes hangers,clothes hanger,1,40,7,unknown,otherprop,Objects,NaN,NaN,NaN,NaN,n03057920,coat_hanger.n.01,misc,40.0
606,1357,starbucks cup,starbucks cup,1,40,7,cup,otherprop,Objects,cup,NaN,cup or mug,3797390.0,n03797390,mug.n.04,objects,39.0